<!DOCTYPE html>
<html>

<head>
  <title>Hogwarts</title>
  <!-- <link rel="stylesheet" type="text/css" href="/style.css"/> -->
</head>


<body>
  <nav> 
  <ul>
    <li class="nav-button">
      <a  href="/students">All students</a>
      <a  href="/students/new">Add a student</a>
    </li>
  </ul>
  </nav>
  <%= yield %>
</body>


</html>